<html lang="en">
<body>
Dear member of <b>{{ team.name }}</b> team,<br>
<br>
Here's your personal feedback link for today: <a href="{{ base_url() }}{{ path_for('feedback_form', {'id': feedback.id}) }}">Feedback link</a><br>
<br>
<br>
Feel free to contact the app maintainer on <a href='https://github.com/meetmatt/mood'>GitHub</a>.<br>
Contributions welcome!<br>
<br>
Here's some additional text to fool the apache sp am filters which requires 3200 bytes of human text in the email.<br>
If you know how else to improve the chance of email getting into inbox instead of junk, please contact the
maintainer.<br>
<br>
The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.<br>
Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs.<br>
Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz.<br>
Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack.<br>
Quick wafting zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim.<br>
Top-charged fop blew my junk TV quiz. How quickly daft jumping zebras vex.<br>
Two driven jocks help fax my big quiz. Quick, Baz, get my woven flax jodhpurs!<br>
\"Now fax quiz Jack!\" my brave ghost pled.<br>
<br>
<br>
Best regards,<br>
Mood Bot
</body>
</html>