<html lang="en">
<body>
Dear member of <b>{{ team.name }}</b> team,<br>
<br>
Here's your personal feedback link for today: <a href="{{ base_url() }}{{ path_for('feedback_form', {'id': feedback.id}) }}">Feedback link</a><br>
<br>
<br>
Feel free to contact the app maintainer on <a href='https://github.com/meetmatt/mood'>GitHub</a>.<br>
Contributions welcome!<br>
<br>
<br>
Best regards,<br>
Mood Bot
</body>
</html>
