{% extends 'layout.html.twig' %}

{% block content %}
    <div>
        <form method="post" action="{{ path_for('find_team') }}">
            <label>
                Find team:
                <input name="id" placeholder="ID">
            </label>
            <input type="submit">
        </form>
    </div>
    <div>
        <form method="post" action="{{ path_for('create_team') }}">
            <label>
                Create new team:
                <input name="name" placeholder="Name">
            </label>
            <input type="submit">
        </form>
    </div>
{% endblock %}