{% extends 'layout.html.twig' %}

{% block content %}
<h1>{{ team.name }}</h1>

<p>
    Save this ID <b>{{ team.id }}</b> in order to find your team later.
</p>
<p>
    Or just simply save this page to bookmarks!
</p>

<p>
    TODO: link to history
</p>
<p>
    TODO: form to generate N feedback pages for today
</p>
{% endblock %}
