{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ team.name }}</h1>
    <h3>Available feedback links for today</h3>
    <p>
        <a class="pure-button" href="{{ path_for('show_team', {"id":team.id}) }}">Back</a>
    </p>

    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedbacks %}
            <tr>
                {% if not feedback.rating %}
                    <td><a href="{{ path_for('feedback_form', {'id':feedback.id}) }}">{{ feedback.id }}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}