Debug=YES

mailhub=$SMTP_MAILHUB
rewriteDomain=$SMTP_REWRITE_DOMAIN
hostname=$SMTP_HOSTNAME
FromLineOverride=YES

Root=$SMTP_USER

$SMTP_AUTH_COMMENTEDAuthUser=$SMTP_USER
$SMTP_AUTH_COMMENTEDAuthPass=$SMTP_PASS
$SMTP_AUTH_COMMENTEDAuthMethod=$SMTP_AUTH_METHOD
UseTLS=$SMTP_USE_TLS
TLS_CA_File=/etc/pki/tls/certs/ca-bundle.crt